$defaultFont: 'Limelight', cursive;

/// Header
$headerBackground: #260f26;

/// Search
$searchBackground: #817380;
$searchInput: #b6a6b5;
$searchBtn: #fff;

/// Main
$mainBackground: #2b1100;

/// Footer
$footerBackground: #593c29;
