.header {
  width: 100%;
  background: $headerBackground;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 2rem;

  &__heading {
    font-weight: 100;
    color: #fff;
    font-family: $defaultFont;
    font-size: 3.5rem;
  }
}
