.header {
  width: 100%;
  background: teal;
  text-align: center;
  padding: 2rem;

  &__heading {
    color: #fff;
    font-family: Limelight, cursive;
    font-size: 3rem;
    text-shadow: 4px 4px 0px #ce5937;
  }
}
