.main {
  width: 100%;
  height: 80%;
  background: $mainBackground;
  padding: 3rem;

  &__display {
    min-height: 80vh;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
  }

  &__message {
    font-family: $defaultFont;
    font-size: 3rem;
    color: #fff;
  }
}
